<footer id="footer">
			<div class="footer-last">
				<div class="row clearfix">
					<span class="copyright">Coyote Show Bar © 2014 | Todos os direitos reservados.  <a href="http://www.ifollowagencia.com.br">iFollow Agência Digital</a>.</span>

					<div id="toTop"><i class="icon-angle-up"></i></div><!-- Back to top -->
					<%= render 'shared/menurodape' %>
				</div><!-- row -->
			</div><!-- end last -->

		</footer><!-- end footer -->