					<div class="foot-menu">
						<ul>
							<li><a href="index.html">A Casa</a></li>
							<li><a href="mp3s.html">Agenda</a></li>
							<li><a href="videos.html">Aniversários</a></li>
							<li><a href="gallery.html">Ingressos</a></li>
							<li><a href="blog.html">Midia</a></li>
							<li><a href="contact.html">Contato</a></li>
						</ul><!-- end links -->
					</div><!-- end foot menu -->