	<div class="sliderr">
				<div class="fullwidthbanner-container">					
					<div class="revolution">
						<ul>
							<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="/images/slide1.jpg" alt="slider4" >
														
							</li>

							<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="/images/slide2.jpg" alt="slider5" >
									
												</li>

									<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="/images/slide3.jpg" alt="slider6" >
														
				
												</li>
						</ul><!-- End Slides -->
						<div class="tp-bannertimer"></div><!-- Timer -->										
					</div>					
				</div>
			</div>