<div id="masonry-container" class="transitions-enabled centered clearfix">
					<div class="mitem grid_6 mb">
						<a href="video_single_half.html">
							<img src="images/assets/mitem1.jpg" alt="#">
							<span class="cat">Video</span>
							<h3>Public Dance Party<small>Gianna Moore</small></h3>
						</a>
					</div><!-- mitem -->

					<div class="mitem grid_3 mb">
						<a href="news_single.html">
							<img src="images/assets/mitem2.jpg" alt="#">
							<span class="cat">Comming Soon</span>
							<h3>I Wanna (Dubstep Remix)<small>Tom Heck</small></h3>
						</a>
					</div><!-- mitem -->

					<div class="mitem grid_3 mb">
						<a href="mp3_single_half.html">
							<img src="images/assets/mitem3.jpg" alt="#">
							<span class="cat">MP3</span>
							<h3>Bad Dog (Remix)<small>William Erd</small></h3>
						</a>
					</div><!-- mitem -->

					<div class="mitem grid_3 mb">
						<a href="mp3_single_half.html">
							<img src="images/assets/mitem4.jpg" alt="#">
							<span class="cat">MP3</span>
							<h3>Cheri Cheri<small>Alfered Cott</small></h3>
						</a>
					</div><!-- mitem -->

					<div class="mitem grid_3 mb">
						<a href="mp3_single_half.html">
							<img src="images/assets/mitem5.jpg" alt="#">
							<span class="cat">MP3</span>
							<h3> Set Fire To The Rain<small>Abele</small></h3>
						</a>
					</div><!-- mitem -->

					<div class="mitem grid_3 mb">
						<a href="mp3_single_half.html">
							<img src="images/assets/mitem6.jpg" alt="#">
							<span class="cat">MP3</span>
							<h3> Skyfool <small>Alexander Doe</small></h3>
						</a>
					</div><!-- mitem -->

					<div class="mitem grid_6 mb">
						<a href="mp3_single_half.html">
							<img src="images/assets/mitem8.jpg" alt="#">
							<span class="cat">MP3</span>
							<h3> Good Morning World <small>SnoopMan</small></h3>
						</a>
					</div><!-- mitem -->

					<div class="mitem grid_3 mb">
						<a href="video_single_wide.html">
							<img src="images/assets/mitem7.jpg" alt="#">
							<span class="cat">Video</span>
							<h3> love the way you lie <small>Isac</small></h3>
						</a>
					</div><!-- mitem -->

					<div class="mitem grid_3 mb">
						<a href="mp3_single_half.html">
							<img src="images/assets/mitem9.jpg" alt="#">
							<span class="cat">MP3</span>
							<h3> Come Back <small>Dj Michele</small></h3>
						</a>
					</div><!-- mitem -->

					<div class="mitem grid_3 mb">
						<a href="mp3_single_half.html">
							<img src="images/assets/mitem10.jpg" alt="#">
							<span class="cat">MP3</span>
							<h3> Tonight (Radio Edit) <small>Dj Momez</small></h3>
						</a>
					</div><!-- mitem -->

					<div class="mitem grid_3 mb">
						<a href="mp3_single_half.html">
							<img src="images/assets/mitem11.jpg" alt="#">
							<span class="cat">MP3</span>
							<h3> Hot Girls <small>KL Duera</small></h3>
						</a>
					</div><!-- mitem -->

					<div class="mitem grid_3 mb">
						<a href="video_single_half.html">
							<img src="images/assets/mitem12.jpg" alt="#">
							<span class="cat">Video</span>
							<h3> Love You <small>Persian Musician</small></h3>
						</a>
					</div><!-- mitem -->

				</div><!-- masonry -->