@charset "UTF-8";
@import url(../../../fonts.googleapis.com/css_40family=Open+Sans_5F3A400,300,600,700);
/*
* Gumby Framework Version 2.0
* ---------------------------
* Follow @gumbycss on twitter and spread the love.
* We worked super hard on making this awesome and released it to the web.
* All we ask is you leave this intact. #gumbyisawesome
*
* http://www.gumbyframework.com/
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

* html { font-size: 100%; }

html { font-size: 16px; line-height: 1.625em; }

html * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { color: #555555; position: relative; }
@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; } }

html, body { height: 100%; }

.ie9 { font-family: "Open Sans"; }
.ie9 * { font-family: "Open Sans"; }

.hide { display: none; }

.hide.active, .show { display: block; }

.fixed { position: fixed; }
@media only screen and (max-width: 768px) { .fixed { position: relative !important; } }

.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

/* Fonts */
@font-face { font-family: "entypo"; font-style: normal; font-weight: 400; src: url(../fonts/icons/entypo.eot); src: url("../fonts/icons/entypo.eot_40#iefix") format("ie9-skip-eot"), url("../fonts/icons/entypo.woff") format("woff"), url("../fonts/icons/entypo.ttf") format("truetype"); }


@media only screen and (max-width: 767px) { h1, h2, h3, h4, h5, h6 { word-wrap: break-word; } }
h1 { font-size: 68px; font-size: 4.25rem; }
h1.xlarge { font-size: 110px; font-size: 6.875rem; }
h1.xxlarge { font-size: 126px; font-size: 7.875rem; }
h1.absurd { font-size: 177px; font-size: 11.0625rem; }

h2 { font-size: 42px; font-size: 2.625rem; }

h3 { font-size: 30px; font-size: 1.875rem; }

h4 { font-size: 26px; font-size: 1.625rem; }

h5 { font-size: 18px; font-size: 1.125rem; }

h6 { font-size: 16px; font-size: 1rem; }

@media only screen and (max-width: 767px) { h1 { font-size: 42px; font-size: 2.625rem; }
  h2 { font-size: 36px; font-size: 2.25rem; } }
.subhead { color: #777; font-weight: normal; margin-bottom: 20px; }

/*=====================================================  Links & Paragraph styles  ======================================================*/
p.lead { font-size: 20px; font-size: 1.25rem; margin-bottom: 18px; }
@media only screen and (max-width: 768px) { p { line-height: 1.625em; } }

a { color: #d04526; text-decoration: none; outline: 0; line-height: inherit; }
a:hover { color: #c03d20; }

/*=====================================================
 Lists  ======================================================*/
ul, ol { margin-bottom: 0.273em; }

ul { list-style: none outside; }

ol { list-style: decimal; margin-left: 30px; }

ul.square, ul.circle, ul.disc { margin-left: 25px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul { margin: 4px 0 5px 25px; }

ol ol { margin: 4px 0 5px 30px; }

li { padding-bottom: 0.273em; }

ul.large li { line-height: 21px; }

dl dt { font-weight: bold; font-size: 16px; font-size: 1rem; }

@media only screen and (max-width: 768px) { ul, ol, dl, p {  } }
/* Mobile */
em { font-style: italic; line-height: inherit; }

strong { font-weight: 700; line-height: inherit; }

small { font-size: 56.4%; line-height: inherit; }

h1 small, h2 small, h3 small, h4 small, h5 small { color: #777; }

/*  Blockquotes  */
blockquote { line-height: 20px; color: #777; margin: 0 0 18px; padding: 20px 20px 20px 19px; border-left: 4px solid #cccccc; background:#fafafa; }
blockquote p { line-height: 20px; color: #777; }
blockquote cite { display: block; font-size: 12px; font-size: 1.2rem; color: #555555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a { color: #555555; }
blockquote cite a:visited { color: #555555; }

hr { border: 0px solid #cccccc; clear: both; height: 50px; }

abbr, acronym { text-transform: uppercase; font-size: 90%; color: #222; border-bottom: 1px solid #cccccc; cursor: help; }

abbr { text-transform: none; }

/** Print styles.  Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/ Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com) */
@media print { * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  /* Black prints faster: sanbeiji.com/archives/953 */
  p a { color: #555555 !important; text-decoration: underline; }
  p a:visited { color: #555555 !important; text-decoration: underline; }
  p a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
/*=================================================
 +++ LE GRID +++ A Responsive Grid -- Gumby defaults to a standard 960 grid, but you can change it to whatever you'd like.
 ==================================================*/
/*.container { padding: 0px $gutter-in-px;
}*/
.row { width: 100%; max-width: 940px; min-width: 320px; margin: 0 auto; }
@media only screen and (max-width: 960px) { .row { padding: 0 20px; } }
.row .row { min-width: 0px; }
@media only screen and (max-width: 960px) { .row .row { padding: 0; } }

/* To fix the grid into a different size, set max-width to your desired width */
.column, .columns { margin-left: 2.12766%; float: left; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.column:first-child, .columns:first-child, .alpha { margin-left: 0px; }

.column.omega, .columns.omega { float: right; }

/* Column Classes */
.row .one.column { width: 6.38298%; margin-bottom:20px;}
.row .one.columns { width: 6.38298%; margin-bottom:20px;}
.row .two.columns { width: 14.89362%; margin-bottom:20px;}
.row .three.columns { width: 23.40426%; margin-bottom:20px;}
.row .four.columns { width: 31.91489%; margin-bottom:20px; }
.row .five.columns { width: 40.42553%; margin-bottom:20px;}
.row .six.columns { width: 48.93617%; margin-bottom:20px;}
.row .seven.columns { width: 57.44681%; margin-bottom:20px;}
.row .eight.columns { width: 65.95745%; margin-bottom:20px;}
.row .nine.columns { width: 74.46809%; margin-bottom:20px;}
.row .ten.columns { width: 82.97872%; }
.row .eleven.columns { width: 91.48936%; margin-bottom:20px;}
.row .twelve.columns { width: 100%; margin-bottom:20px;}

/* Push Classes */
.row .push_one { margin-left: 10.6383%; }
.row .push_one:first-child { margin-left: 8.51064%; }
.row .push_two { margin-left: 19.14894%; }
.row .push_two:first-child { margin-left: 17.02128%; }
.row .push_three { margin-left: 27.65957%; }
.row .push_three:first-child { margin-left: 25.53191%; }
.row .push_four { margin-left: 36.17021%; }
.row .push_four:first-child { margin-left: 34.04255%; }
.row .push_five { margin-left: 44.68085%; }
.row .push_five:first-child { margin-left: 42.55319%; }
.row .push_six { margin-left: 53.19149%; }
.row .push_six:first-child { margin-left: 51.06383%; }
.row .push_seven { margin-left: 61.70213%; }
.row .push_seven:first-child { margin-left: 59.57447%; }
.row .push_eight { margin-left: 70.21277%; }
.row .push_eight:first-child { margin-left: 68.08511%; }
.row .push_nine { margin-left: 78.7234%; }
.row .push_nine:first-child { margin-left: 76.59574%; }
.row .push_ten { margin-left: 87.23404%; }
.row .push_ten:first-child { margin-left: 85.10638%; }
.row .push_eleven { margin-left: 95.74468%; }
.row .push_eleven:first-child { margin-left: 93.61702%; }

/* Centered Classes */
.row .one.centered { margin-left: 46.80851%; }
.row .two.centered { margin-left: 42.55319%; }
.row .three.centered { margin-left: 38.29787%; }
.row .four.centered { margin-left: 34.04255%; }
.row .five.centered { margin-left: 29.78723%; }
.row .six.centered { margin-left: 25.53191%; }
.row .seven.centered { margin-left: 21.2766%; }
.row .eight.centered { margin-left: 17.02128%; }
.row .nine.centered { margin-left: 12.76596%; }
.row .ten.centered { margin-left: 8.51064%; }
.row .eleven.centered { margin-left: 4.25532%; }

/* Hybrid Grid Columns */
.sixteen.colgrid .row .one.column { width: 4.25532%; }
.sixteen.colgrid .row .one.columns { width: 4.25532%; }
.sixteen.colgrid .row .two.columns { width: 10.6383%; }
.sixteen.colgrid .row .three.columns { width: 17.02128%; }
.sixteen.colgrid .row .four.columns { width: 23.40426%; }
.sixteen.colgrid .row .five.columns { width: 29.78723%; }
.sixteen.colgrid .row .six.columns { width: 36.17021%; }
.sixteen.colgrid .row .seven.columns { width: 42.55319%; }
.sixteen.colgrid .row .eight.columns { width: 48.93617%; }
.sixteen.colgrid .row .nine.columns { width: 55.31915%; }
.sixteen.colgrid .row .ten.columns { width: 61.70213%; }
.sixteen.colgrid .row .eleven.columns { width: 68.08511%; }
.sixteen.colgrid .row .twelve.columns { width: 74.46809%; }
.sixteen.colgrid .row .thirteen.columns { width: 80.85106%; }
.sixteen.colgrid .row .fourteen.columns { width: 87.23404%; }
.sixteen.colgrid .row .fifteen.columns { width: 93.61702%; }
.sixteen.colgrid .row .sixteen.columns { width: 100%; }

/* Hybrid Push Classes */
.sixteen.colgrid .row .push_one { margin-left: 8.51064%; }
.sixteen.colgrid .row .push_one:first-child { margin-left: 6.38298%; }
.sixteen.colgrid .row .push_two { margin-left: 14.89362%; }
.sixteen.colgrid .row .push_two:first-child { margin-left: 12.76596%; }
.sixteen.colgrid .row .push_three { margin-left: 21.2766%; }
.sixteen.colgrid .row .push_three:first-child { margin-left: 19.14894%; }
.sixteen.colgrid .row .push_four { margin-left: 27.65957%; }
.sixteen.colgrid .row .push_four:first-child { margin-left: 25.53191%; }
.sixteen.colgrid .row .push_five { margin-left: 34.04255%; }
.sixteen.colgrid .row .push_five:first-child { margin-left: 31.91489%; }
.sixteen.colgrid .row .push_six { margin-left: 40.42553%; }
.sixteen.colgrid .row .push_six:first-child { margin-left: 38.29787%; }
.sixteen.colgrid .row .push_seven { margin-left: 46.80851%; }
.sixteen.colgrid .row .push_seven:first-child { margin-left: 44.68085%; }
.sixteen.colgrid .row .push_eight { margin-left: 53.19149%; }
.sixteen.colgrid .row .push_eight:first-child { margin-left: 51.06383%; }
.sixteen.colgrid .row .push_nine { margin-left: 59.57447%; }
.sixteen.colgrid .row .push_nine:first-child { margin-left: 57.44681%; }
.sixteen.colgrid .row .push_ten { margin-left: 65.95745%; }
.sixteen.colgrid .row .push_ten:first-child { margin-left: 63.82979%; }
.sixteen.colgrid .row .push_eleven { margin-left: 72.34043%; }
.sixteen.colgrid .row .push_eleven:first-child { margin-left: 70.21277%; }
.sixteen.colgrid .row .push_twelve { margin-left: 78.7234%; }
.sixteen.colgrid .row .push_twelve:first-child { margin-left: 76.59574%; }
.sixteen.colgrid .row .push_thirteen { margin-left: 85.10638%; }
.sixteen.colgrid .row .push_thirteen:first-child { margin-left: 82.97872%; }
.sixteen.colgrid .row .push_fourteen { margin-left: 91.48936%; }
.sixteen.colgrid .row .push_fourteen:first-child { margin-left: 89.3617%; }
.sixteen.colgrid .row .push_fifteen { margin-left: 97.87234%; }
.sixteen.colgrid .row .push_fifteen:first-child { margin-left: 95.74468%; }

/* Hybrid Centered Classes */
.sixteen.colgrid .row .one.centered { margin-left: 47.87234%; }
.sixteen.colgrid .row .two.centered { margin-left: 44.68085%; }
.sixteen.colgrid .row .three.centered { margin-left: 41.48936%; }
.sixteen.colgrid .row .four.centered { margin-left: 38.29787%; }
.sixteen.colgrid .row .five.centered { margin-left: 35.10638%; }
.sixteen.colgrid .row .six.centered { margin-left: 31.91489%; }
.sixteen.colgrid .row .seven.centered { margin-left: 28.7234%; }
.sixteen.colgrid .row .eight.centered { margin-left: 25.53191%; }
.sixteen.colgrid .row .nine.centered { margin-left: 22.34043%; }
.sixteen.colgrid .row .ten.centered { margin-left: 19.14894%; }
.sixteen.colgrid .row .eleven.centered { margin-left: 15.95745%; }
.sixteen.colgrid .row .twelve.centered { margin-left: 12.76596%; }
.sixteen.colgrid .row .thirteen.centered { margin-left: 9.57447%; }
.sixteen.colgrid .row .fourteen.centered { margin-left: 6.38298%; }
.sixteen.colgrid .row .fifteen.centered { margin-left: 3.19149%; }

.pull_right { float: right; }

.pull_left { float: left; }

img, object, embed { max-width: 100%; height: auto; }

img { -ms-interpolation-mode: bicubic; }

#map_canvas img, .map_canvas img { max-width: none !important; }

/* Tile Grid */
.tiles { display: block; overflow: hidden; }
.tiles > li { display: block; height: auto; float: left; padding-bottom: 0; }
.tiles.two_up { margin-left: -4%; }
.tiles.two_up > li { margin-left: 4%; width: 46%; }
.tiles.three_up, .tiles.four_up { margin-left: -2%; }
.tiles.three_up > li { margin-left: 2%; width: 31.3%; margin-top: 2%; }
.tiles.four_up > li { margin-left: 2%; width: 23%; }
.tiles.five_up { margin-left: 0%; }
.tiles.five_up > li { margin-left: 0px; width: 19.95%; margin-bottom:-1px; }


/* Nicolas Gallagher's micro clearfix */
.clearfix { *zoom: 1; height:20px; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.row { *zoom: 1; }
.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }

.valign { display: table; width: 100%; }
.valign > div { display: table-cell; vertical-align: middle; }
.valign â€‹ > article { display: table-cell; vertical-align: middle; }

/* Mobile */
@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; }
  .container { min-width: 0; margin-left: 0; margin-right: 0; }
  .row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
  .row .row .column, .row .row .columns { padding: 0; }
  /*.row .centered { margin: 0 !important; }*/
  .column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
  .column:last-child, .columns:last-child { margin-right: 0; float: none; }
  [class*="column"] + [class*="column"]:last-child { float: none; }
  [class*="column"]:before { display: table; }
  [class*="column"]:after { display: table; clear: both; }
  [class^="push_"], [class*="push_"] { margin-left: 0 !important; } }


.image { line-height: 0; margin-bottom: 20px; }
.image.circle { -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; -ms-border-radius: 50% !important; -o-border-radius: 50% !important; border-radius: 50% !important; overflow: hidden; width: auto; }
.image.rounded { overflow: hidden; -webkit-border-radius: 4px 4px; -moz-border-radius: 4px 4px; -ms-border-radius: 4px 4px; -o-border-radius: 4px 4px; border-radius: 4px 4px; }
.image.photo { border: 5px solid white; -webkit-box-shadow: 0 0 1px #555555; -moz-box-shadow: 0 0 1px #555555; box-shadow: 0 0 1px #555555; }
.image.photo.polaroid { padding-bottom: 50px; background: #fff; }

/* Tabs */
.tabs { display: block; }
.tabs .tab-nav { margin: 0; padding: 0; border-bottom: 1px solid #e5e5e5; }
.tabs .tab-nav > li { display: inline-block; width: auto; padding: 0; margin: 0 2.12766% 0 0; cursor: default; top: 1px; -webkit-box-shadow: 0 1px 0 white; -moz-box-shadow: 0 1px 0 white; box-shadow: 0 1px 0 white; }
.tabs .tab-nav > li > a { display: block; width: auto; padding: 0 16px; margin: 0; color: #555555; font-family: "Open Sans"; font-weight: 600; border: 1px solid #e5e5e5; border-width: 1px 1px 0 1px; text-shadow: 0 1px 1px white; background: #f2f2f2; cursor: pointer; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; -ms-border-radius: 4px 4px 0 0; -o-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; height: 42px; line-height: 40px; }
.tabs .tab-nav > li > a:hover { text-decoration: none; background: whitesmoke; }
.tabs .tab-nav > li > a:active { background: #ededed; }
.tabs .tab-nav > li.active > a { height: 43px; line-height: 41px; background: white; }
.tabs .tab-nav > li:last-child { margin-right: 0; }
.tabs .tab-content { display: none; padding: 20px 10px; }
.tabs .tab-content.active { display: block; }
.tabs.pill .tab-nav { width: 100%; /* remove if you dont want the tabs to span the full container width */ display: table; overflow: hidden; border: 1px solid #e5e5e5; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.tabs.pill .tab-nav > li { display: table-cell; margin: 0; margin-left: -4px; text-align: center; top: 0; }
.tabs.pill .tab-nav > li:first-child { margin-left: 0; }
.tabs.pill .tab-nav > li > a { border: none; border-right: 1px solid #e5e5e5; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; height: 42px; line-height: 40px; }
.tabs.pill .tab-nav > li:last-child > a { border-right: none; }
.tabs.vertical .tab-nav { border: none; }
.tabs.vertical .tab-nav > li { display: block; margin: 0; margin-bottom: 5px; }
.tabs.vertical .tab-nav > li.active { position: relative; z-index: 99; }
.tabs.vertical .tab-nav > li.active > a { border-right: 1px solid white; }
.tabs.vertical .tab-nav > li > a { border: 1px solid #e5e5e5; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; -ms-border-radius: 4px 0 0 4px; -o-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; }
.tabs.vertical .tab-content { padding: 10px 0 30px 20px; margin-left: -1px; border-left: 1px solid #e5e5e5; }



.drawer { position: relative; width: 100%; max-height: 0; background: #3e4144; -webkit-box-shadow: inset 0 -2px 5px #313436, inset 0 2px 5px #313436; -moz-box-shadow: inset 0 -2px 5px #313436, inset 0 2px 5px #313436; box-shadow: inset 0 -2px 5px #313436, inset 0 2px 5px #313436; overflow: hidden; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; }
.drawer.active { height: auto; max-height: 800px; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; }

.modal { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: -999999; background: black; background: rgba(0, 0, 0, 0.8); }
.modal > .content { width: 50%; min-height: 50%; max-height: 65%; position: relative; top: 25%; margin: 0 auto; padding: 20px; background: white; z-index: 2; overflow: auto; }
@media only screen and (max-width: 768px) { .modal > .content { width: 80%; min-height: 80%; max-height: 80%; top: 10%; } }
@media only screen and (max-width: 767px) { .modal > .content { width: 92.5%; min-height: 92.5%; max-height: 92.5%; top: 3.75%; } }
.modal > .content > .close { position: absolute; top: 10px; right: 10px; cursor: pointer; }
.modal, .modal > .content { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; }
.modal.active { z-index: 999999; }
.modal.active, .modal.active > .content { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }


.carousel{position:relative;margin-bottom:20px;line-height:1;}
.carousel-inner{overflow:hidden;width:100%;position:relative;}
.carousel-inner>.item{display:none;position:relative;-webkit-transition:0.6s ease-in-out left;-moz-transition:0.6s ease-in-out left;-o-transition:0.6s ease-in-out left;transition:0.6s ease-in-out left;}.carousel-inner>.item>img,.carousel-inner>.item>a>img{display:block;line-height:1;}
.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev{display:block;}
.carousel-inner>.active{left:0;}
.carousel-inner>.next,.carousel-inner>.prev{position:absolute;top:0;width:100%;}
.carousel-inner>.next{left:100%;}
.carousel-inner>.prev{left:-100%;}
.carousel-inner>.next.left,.carousel-inner>.prev.right{left:0;}
.carousel-inner>.active.left{left:-100%;}
.carousel-inner>.active.right{left:100%;}
.carousel-control{position:absolute;top:40%;left:15px;width:40px;height:40px;margin-top:-20px;font-size:60px;font-weight:100;line-height:30px;color:#ffffff;text-align:center;background:#222222;border:3px solid #ffffff;-webkit-border-radius:23px;-moz-border-radius:23px;border-radius:23px;opacity:0.5;filter:alpha(opacity=50);}.carousel-control.right{left:auto;right:15px;}
.carousel-control:hover,.carousel-control:focus{color:#ffffff;text-decoration:none;opacity:0.9;filter:alpha(opacity=90);}
.carousel-indicators{position:absolute;top:15px;right:15px;z-index:5;margin:0;list-style:none;}.carousel-indicators li{display:block;float:left;width:10px;height:10px;margin-left:5px;text-indent:-999px;background-color:#ccc;background-color:rgba(255, 255, 255, 0.25);border-radius:5px;}
.carousel-indicators .active{background-color:#fff;}
.carousel-caption{position:absolute;left:0;right:0;bottom:0;padding:15px;background:#333333;background:rgba(0, 0, 0, 0.75);}
.carousel-caption h4,.carousel-caption p{color:#ffffff;line-height:20px;}
.carousel-caption h4{margin:0 0 5px;}
.carousel-caption p{margin-bottom:0;}
.well{min-height:20px;padding:19px;margin-bottom:20px;background-color:#f5f5f5;border:1px solid #e3e3e3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);}.well blockquote{border-color:#ddd;border-color:rgba(0, 0, 0, 0.15);}
.well-large{padding:24px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.well-small{padding:9px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.close{float:right;font-size:20px;font-weight:bold;line-height:20px;color:#000000;text-shadow:0 1px 0 #ffffff;opacity:0.2;filter:alpha(opacity=20);}.close:hover,.close:focus{color:#000000;text-decoration:none;cursor:pointer;opacity:0.4;filter:alpha(opacity=40);}
button.close{padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;}
.pull-right{float:right;}
.pull-left{float:left;}
.hide{display:none;}
.show{display:block;}
.invisible{visibility:hidden;}
.affix{position:fixed;}



img { 
    image-rendering: -o-crisp-edges;            /* Opera               */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
    }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.one-third      { width: 100%!important; }

#contentleft {
	float: left;
	width: 100%!important;
}
#sidebarright {
	float: left;
	width: 100%!important;
	margin-top:30px;
}
.bg {
	
	background-size: 100%!important;
}
.testimonial_home img {
	width:60px!important;
	height:60px!important;	
}
.testimonial_home h1 {
	font-size:40px!important;
	margin-bottom:20px;
}
.testimonial_home p {
	
	font-size:14px!important;
	
}

}